.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px;
	background-color: teal;
}
.box{
	margin: 10px 0;
	min-height: 80px;
	background-color: red;
	font-size: 24px;
	color: white;
	text-align: center;
}
.red{
	background-color: green;
}
.five{
	background-color: yellow;
}